:root {
    --form-control-color: rgb(0, 0, 0);
  }

  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

  .label-css {
    color:rgb(192, 192, 192)
  }

  .title-css {
    color:rgb(165, 165, 165);
  }

  input[type="radio"] {
    appearance: none;
    background-color: #fff;
    margin: 10;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;
    transform: translateY(-0.075em);
  }

  input[type="radio"] {
    display: grid;
    place-content: center;
  }

  input[type="radio"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
  }

  input[type="radio"]:checked::before {
    transform: scale(1);
  }
  
  .label-css + .label-css {
    margin-top: 1em;
  }